{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .card {
            display: inline-block;
        }

        .d-block {
            height: 20vw;
            object-fit: cover;
        }

        a:hover {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body onload="myFunction()">
    <header-profile></header-profile>

    <form action="changePasswordsubmit" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="User Name" name="user"><br>
        <input type="text" placeholder="Previous Password" name="prev"><br>
        <input type="text" placeholder="New Password" name="new"><br>
        <input type="text" placeholder="Confirm New Password" name="cnf"><br>
        <input type="submit" value="Submit">
    </form>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>    
    <script src="{% static 'js/header_profile.js'%}"></script>

    <script>
        function myFunction() {
            if ("{{msg}}"){
                alert("{{msg}}");
                window.location.replace("../delivery/changePassword")
            }
          }
    </script>
</body>

</html>