{% extends 'header.html'%}
{%load static%}

{% block content %}
<ul class="nav nav-pills nav-fill bg-light">
    <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="plants">Plants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="seeds">Seeds</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="soilandfertilizers">Soil and Fertilizers</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="decor">Decor</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" href="accessories">Accessories</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="cart">Cart</a>
    </li>
</ul>

<div class="d-flex justify-content-center ml-3 mt-3">
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card1.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Vertical Nursery</h5>
            <p class="card-text">Rs. 500</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card2.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Plants Decor</h5>
            <p class="card-text">Rs. 250</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card3.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hanging Plants</h5>
            <p class="card-text">Rs. 300</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card4.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Water Plants</h5>
            <p class="card-text">Rs. 350</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card5.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pebbles</h5>
            <p class="card-text">Rs. 250</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center ml-3 mt-3">
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card1.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Vertical Nursery</h5>
            <p class="card-text">Rs. 500</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card2.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Plants Decor</h5>
            <p class="card-text">Rs. 250</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card3.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hanging Plants</h5>
            <p class="card-text">Rs. 300</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card4.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Water Plants</h5>
            <p class="card-text">Rs. 350</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
    <div class="card mr-4" style="width: 20rem;">
        <img class="card-img-top" src="{% static 'images/card5.jpg'%}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pebbles</h5>
            <p class="card-text">Rs. 250</p>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-secondary">+</button>
            <button type="button" class="btn btn-outline-secondary">0</button>
            <button type="button" class="btn btn-outline-secondary">-</button>
        </div>
    </div>
</div>

{%endblock%}