{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .card {
            display: inline-block;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        .d-block {
            height: 20vw;
            object-fit: cover;
        }
    </style>
    <script src="{% static 'js/cart.js'%}"></script>
    <script src="{% static 'js/cartTwo.js'%}"></script>
</head>
<body>
   
    <ul class="nav nav-pills nav-fill bg-light">
        <li class="nav-item">
            <a class="nav-link " href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="plants">Plants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="seeds">Seeds</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="soilandfertilizers">Soil and Fertilizers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="decor">Decor</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="accessories">Accessories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="cart">Cart <span id ="count"></span></a>
        </li>
    </ul>

    <div id = "cartItems">
    
    </div>
    <div id = "cartItemsTwo">
    
    </div>
    <div id = "ifEmpty">

    </div>
    {% if user.is_authenticated %}
    <button id="check">Proceed to Checkout</button>   
    {% else %}
    <button id= "orderlogin" >Login/Signup to continue</button>
    {% endif %}
</body>

<script>
    // let rerender = () => {
    //     let cartItems = document.querySelector('#cartItems');
    // let decodedCookie = decodeURIComponent(document.cookie).split(';');
    // let productString = decodedCookie.find(item => item.includes("product="));
    // let productStringSplit = productString.split('=');
    // let product = JSON.parse(productStringSplit[1]);
    // if(product != []){

    //     product.find(item => item.quantity == 0) ? cartItems.innerHTML = `` :
    //     cartItems.innerHTML = product.map(item=> `<cart-card name=${item.name} price=${item.perPrice} image=${item.img}></cart-card>`)
        
    //     //cartItems.appendChild(child);
    // }
    // else{
    //     let heading3 = document.createElement('h3');
    //     let textnode = document.createTextNode('Your cart is empty 👶');
    //     heading3.appendChild(textnode);
    //     cartItems.appendChild(heading3);
    // }
    // }
   
        let run = () => {
            
    let cartItems = document.querySelector('#cartItems');
    let cartItemsTwo = document.querySelector('#cartItemsTwo');
    let ifEmpty = document.querySelector('#ifEmpty');
    let decodedCookie = decodeURIComponent(document.cookie).split(';');
    if(decodedCookie.find(item => item.includes("product="))){
        
    let productString = decodedCookie.find(item => item.includes("product="));
    let productStringSplit = productString.split('=');
    let product = JSON.parse(productStringSplit[1]);
    if(product.length != 0){

        let type1 = product.filter(item=> !item.id);
        let type2 = product.filter(item=> item.id);

        (type1) ? 
        cartItems.innerHTML = type1.map(item=> `<cart-card name="${item.name}" price=${item.perPrice} quantity=${item.quantity} image=${item.img}></cart-card>`)
        : ifEmpty.innerHTML = ``;

        if(type2){
            let toPrint = type2.filter(item=> item.providers[0].quantity != 0);
            cartItemsTwo.innerHTML = toPrint.map(item=> `<cart-two name="${item.name}" price=${item.providers[0].perPrice}  image=${item.img} id = ${item.id}></cart-two>`)
            ifEmpty.innerHTML = ``;
        }
        
        if(!(type1) && !(type2)){
            ifEmpty.innerHTML = "<h3>Your cart is empty 👶</h3>"
            var check = document.getElementById("check");
            if(check)
            {
                check.disabled = true
            }
        }
        //cartItems.appendChild(child);
    }
    else{
        // let heading3 = document.createElement('h3');
        // let textnode = document.createTextNode('Your cart is empty 👶');
        // heading3.appendChild(textnode);
        // cartItems.appendChild(heading3);
        ifEmpty.innerHTML = "<h3>Your cart is empty 👶</h3>"
        var check = document.getElementById("check");
        if(check)
        {
            check.disabled = true
        }
    }
    }
    else{
        ifEmpty.innerHTML = "<h3>Your cart is empty 👶</h3>"
        var check = document.getElementById("check");
        if(check)
        {
            check.disabled = true
        }
    }

}
    
        run();
    // setTimeout(()=>{
    //     let cartItems = document.querySelector('#cartItems');
    //     let decodedCookie = decodeURIComponent(document.cookie).split(';');

    //     if(!decodedCookie.find(item => item.includes("product="))){
    //     cartItems.innerHTML = "<h3>Your cart is empty 👶</h3>"

    //     if(decodedCookie.find(item => item.includes("product="))){
    //         let productString = decodedCookie.find(item => item.includes("product="));
    // let productStringSplit = productString.split('=');
    // let product = JSON.parse(productStringSplit[1]);

    //         if(product == []) cartItem.innerHTML = "<h3>Your cart is empty 👶</h3>"

    //     }

    // }},300);

    
    let runCartCount = () => {
            
            let countDiv = document.querySelector('#count');
            let count = 0;
            let decodedCookie = decodeURIComponent(document.cookie).split(';');
            if(decodedCookie.find(item => item.includes("product="))){
                
            let productString = decodedCookie.find(item => item.includes("product="));
            let productStringSplit = productString.split('=');
            let product = JSON.parse(productStringSplit[1]);
            if(product.length != 0){
        
                let type1 = product.filter(item=> !item.id);
                let type2 = product.filter(item=> item.id);
        
               if(type1){
                   count += type1.reduce((sub,i)=> { return i.quantity + sub},0);
                   console.log(count);
               }
        
                if(type2){
                    let toPrint = type2.filter(item=> item.providers[0].quantity != 0);
                    count += toPrint.reduce((sub,i)=>{ return i.providers[0].quantity + sub},0);
                }
                
                if(count){
                    countDiv.innerHTML = ` (${count})` ;
                }
                //cartItems.appendChild(child);
               // console.log(count);
            }
            else{
                // let heading3 = document.createElement('h3');
                // let textnode = document.createTextNode('Your cart is empty 👶');
                // heading3.appendChild(textnode);
                // cartItems.appendChild(heading3);
                countDiv.innerHTML = ``;
            }
            }
            else{
                countDiv.innerHTML = ``;
            }

        }
            
                runCartCount();
               
               setInterval(()=>runCartCount(),300);

    window.onload=function(){
        
        var check = document.getElementById("check");
        var log  = document.getElementById("orderlogin");
        if(check)
        {
        check.addEventListener("click",handler );
        }
        if(log){
        log.addEventListener("click", handler2);
        }
    }
    function handler() {
        window.location.href = "checkout";
    }
    function handler2() {
    window.location.href = "orderlogin";
    }
</script>

</html>