{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    {% if not user.is_authenticated%}
    <header-bar></header-bar>
    {% else %}
    <authenticated-header></authenticated-header>
    {% endif %}

    <ul class="nav nav-pills nav-fill bg-light">
        <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="plants">Plants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="seeds">Seeds</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="soilandfertilizers">Soil and Fertilizers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link  active" href="decor">Decor</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="accessories">Accessories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="cart">Cart <span id="count"></span></a>
        </li>
    </ul>

    <div class="d-flex justify-content-start ml-3 mt-3">
        {% for i in unique_price %}
        <div class="card mr-3" style="width: 255px;">
            {%if i.product.price_set.all.values_list|length > 1%}
            <compare-price-item-card name="{{i.product.name}}" price={{i.price}} image={{i.product.image.url}} id={{i.product.id}}  provider = "{{i.provider.shop_name}}"></compare-price-item-card>
            {% else %}
            <item-card name="{{i.product.name}}" price={{i.price}} image={{i.product.image.url}}></item-card>
            {% endif %}
        </div>

        {% if forloop.counter|divisibleby:5 %}
    </div>
    <div class="d-flex justify-content-start ml-3 mt-3">
        {% endif %}
        {% endfor %}
    </div>

    <div class="mb-3"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/header_authenticated.js'%}"></script>
    <script src="{% static 'js/item_card.js'%}"></script>
    <script src="{% static 'js/compare_price_item_card.js'%}"></script>
    <script>
        
       
        
        let run = () => {
            
            let countDiv = document.querySelector('#count');
            let count = 0;
            let decodedCookie = decodeURIComponent(document.cookie).split(';');
            if(decodedCookie.find(item => item.includes("product="))){
                
            let productString = decodedCookie.find(item => item.includes("product="));
            let productStringSplit = productString.split('=');
            let product = JSON.parse(productStringSplit[1]);
            if(product.length != 0){
        
                let type1 = product.filter(item=> !item.id);
                let type2 = product.filter(item=> item.id);
        
               if(type1){
                   count += type1.reduce((sub,i)=> { return i.quantity + sub},0);
                  // console.log(count);
               }
        
                if(type2){
                    let toPrint = type2.filter(item=> item.providers[0].quantity != 0);
                    count += toPrint.reduce((sub,i)=>{ return i.providers[0].quantity + sub},0);
                }
                
                if(count){
                    countDiv.innerHTML = ` (${count})` ;
                }
                //cartItems.appendChild(child);
               // console.log(count);
            }
            else{
                // let heading3 = document.createElement('h3');
                // let textnode = document.createTextNode('Your cart is empty 👶');
                // heading3.appendChild(textnode);
                // cartItems.appendChild(heading3);
                countDiv.innerHTML = ``;
            }
            }
            else{
                countDiv.innerHTML = ``;
            }

        }
            
                run();
               
               setInterval(()=>run(),300);

    </script>
</body>

</html>