{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Compare Price</title>
</head>
<style></style>
<body>

    {% if not user.is_authenticated%}
    <header-bar></header-bar>
    {% else %}
    <authenticated-header></authenticated-header>
    {% endif %}
    
    <div class="table_info">
        <table class="table table-hover  table-striped">
            <thead class = "thead-dark">
                <tr>
                    <th >Provider</th>
                    <th >Price</th>
                    <th ></th>
                </tr>
            </thead>
            {%for i in prices%}
            <tbody>
                
                
                <td class = "ml-3" id = 'provider'>{{i.provider.shop_name}}</td>
                <td id = 'price' width="500px">{{i.price}}</td>
                <td class = "float-left">
                    <div  class="btn-toolbar ml-1 mb-2" role="toolbar" aria-label="Toolbar with button groups">
        
                        <div class="btn-group ml-auto mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-success" id = '{{i.provider.shop_name}}|{{i.price}}|{{i.provider.address_set.all.0.addr}}|inc' onclick = inc(this)>+</button>
                            <button type="button" class="btn btn-outline-secondary disabled" id = "result|{{i.price}}">0</button>
                            <button type="button" class="btn btn-success" id = '{{i.provider.shop_name}}|{{i.price}}|{{i.provider.address_set.all.0.addr}}|dec' onclick = dec(this)>-</button>
                        
                        </div>
                    </div>
                </td>
               
            </tbody>
            <!-- <accross-row  provider = {{i.provider.shop_name}} price = {{i.price}} addr = {{i.provider.address_set.all.0.addr}}></accross-row> -->

            {%endfor%}                
        </table>

        <script src="{% static 'js/header.js'%}"></script>
        <script src="{% static 'js/header_authenticated.js'%}"></script>
        <script>
            
            let getParam = () => {
                let param = window.location.search;
                param = param.split('=');
                return param[1];
            }

            //onload iife
           let rerun = () => {

                
                let decodedCookie = decodeURIComponent(document.cookie).split(';');
                if(decodedCookie.find(item => item.includes("product="))){
                    let productString = decodedCookie.find(item => item.includes("product="));
              
                let productStringSplit = productString.split('=');
                let product = JSON.parse(productStringSplit[1]);
                    let id = getParam();
                    if(product.find(item=> item.id == id)){
                        thatProduct = product.find(item=> item.id == id);
                    
                            //thatProduct.providers.forEach(prov=> document.getElementById(`result|${prov.perPrice}`).innerHTML = prov.quantity );
                            document.getElementById(`result|${thatProduct.providers[0].perPrice}`).innerHTML = thatProduct.providers[0].quantity;
                    }
                }

            }
            rerun();

            let inc = (e) => {
                let info = e.id.split('|');
                console.log(info);
                let id = getParam();
                let decodedCookie = decodeURIComponent(document.cookie).split(';');
            
                if(!decodedCookie.find(item => item.includes("product="))){
                let product = [{name: "", providers: [{providerName: info[0],quantity: 1,perPrice: info[1],price: info[1]}],img: '',id: id}];
                //console.log(product);
                document.cookie = 'product=' + JSON.stringify(product);
                //console.log(document.cookie);
                document.getElementById(`result|${info[1]}`).innerHTML = 1;
                
                console.log(product);
            }
            else{
                let productString = decodedCookie.find(item => item.includes("product="));
                //console.log(productString); success
                let productStringSplit = productString.split('=');
                let product = JSON.parse(productStringSplit[1]);
               // console.log(product);// success
                if(!product.find(item=> item.id == id)){
                    let newProduct = {name: '', providers: [{providerName: info[0],quantity: 1,perPrice: info[1],price: info[1]}],img: '',id: id};
                
                    document.getElementById(`result|${info[1]}`).innerHTML = newProduct.providers[0].quantity;

                    product = [...product,newProduct];
                    console.log(product);
                    document.cookie = 'product=' + JSON.stringify(product);
                }
                else
                {


                let thisProduct = product.find(item => item.id == id);
                product = product.filter(item=> item.id !=id);
               // thisProduct.providers[0].quantity += 1;

                if(thisProduct.providers[0].perPrice != info[1]){

                    

                    thisProduct.providers[0].providerName = info[0];
                    thisProduct.providers[0].quantity = 1;
                    thisProduct.providers[0].perPrice = info[1];
                    thisProduct.providers[0].price = info[1];
                    document.getElementById(`result|${info[1]}`).innerHTML =  1;
                    console.log(thisProduct);
                    //rerun();
                    location.reload("true");
                }
                else{

                    thisProduct.providers[0].quantity += 1;
                    thisProduct.providers[0].price = thisProduct.providers[0].quantity * thisProduct.providers[0].perPrice;
                    document.getElementById(`result|${info[1]}`).innerHTML =  thisProduct.providers[0].quantity;
                    console.log(thisProduct);
                }

                product = [...product,thisProduct];
                document.cookie = "product=" + JSON.stringify(product);
                console.log(product);

                // thisProduct.price = thisProduct.providers[0].perPrice * thisProduct.providers[0].quantity;
                // this.shadowRoot.getElementById("#result").innerHTML = thisProduct.providers[0].quantity;
                // product = [...product,thisProduct];
                // console.log(product);
                // document.cookie = 'product=' + JSON.stringify(product);  
                // }
            }        
            

                // let productString = decodedCookie.find(item => item.includes("product="));
                // //console.log(productString); success
                // let productStringSplit = productString.split('=');
                // let product = JSON.parse(productStringSplit[1]);
                // let thisProduct = product.find(item=> item.id = id);
                // product = product.filter(item=> item.id != id);

                //mismatch
                // if(thisProduct.providers[0].perPrice != info[1]){
                //     thisProduct.providers[0].providerName = info[0];
                //     thisProduct.providers[0].quantity = 1;
                //     thisProduct.providers[0].perPrice = info[1];
                //     thisProduct.providers[0].price = info[1];
                //     document.getElementById(`result|${info[1]}`).innerHTML =  1;
                //     console.log(thisProduct);
                    // rerun();
                //     location.reload("true");
                // }
                // else{

                //     thisProduct.providers[0].quantity += 1;
                //     thisProduct.providers[0].price = thisProduct.providers[0].quantity * thisProduct.providers[0].perPrice;
                //     document.getElementById(`result|${info[1]}`).innerHTML =  thisProduct.providers[0].quantity;
                //     console.log(thisProduct);
                // }

                // product = [...product,thisProduct];
                // document.cookie = "product=" + JSON.stringify(product);
                // console.log(product);


            }
        }
            let dec = (e) => {
                let info = e.id.split('|');
                console.log(info);
                let id = getParam();
                let decodedCookie = decodeURIComponent(document.cookie).split(';');
                if(decodedCookie.find(item => item.includes("product="))){
                let productString = decodedCookie.find(item => item.includes("product="));
                let productStringSplit = productString.split('=');
                let product = JSON.parse(productStringSplit[1]);
                if(product != []){
                    if(product.find(item=> item.id == id)){
                        let thisProduct = product.find(item=> item.id = id);
                product = product.filter(item=> item.id != id);

                if(thisProduct.providers[0].perPrice == info[1]){
                    if(thisProduct.providers[0].quantity != 0){
                        thisProduct.providers[0].quantity -= 1;
                        thisProduct.providers[0].price =  thisProduct.providers[0].quantity *  thisProduct.providers[0].perPrice;
                        document.getElementById(`result|${info[1]}`).innerHTML =  thisProduct.providers[0].quantity;
                        console.log(thisProduct);
                    }
                }
                if(thisProduct.providers[0].quantity!= 0)
                  product = [...product,thisProduct];

                document.cookie = "product=" + JSON.stringify(product);



                        // if(product.find(item=> item.name == name).providers[0].quantity != 0){
                            
                        // let thisProduct = product.find(item=> item.name == name);
                        // product = product.filter(item=> item.name != name);
                        // thisProduct.providers[0].quantity -= 1;
                        // thisProduct.providers[0].price = thisProduct.providers[0].perPrice * thisProduct.providers[0].quantity;
                        // this.shadowRoot.getElementById('#result').innerHTML = thisProduct.providers[0].quantity;
                        // if(thisProduct.quantity!= 0){
                        //     product = [...product,thisProduct];
                        // }
                        // document.cookie = 'product=' + JSON.stringify(product);
                        // }
                    }
                }
                }
            }

            
        </script>
</body>
</html>