{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/leaflet-routing-machine.css' %} " />
    <style>
        .leaflet-control-container {
            display: none;
        }

        .myDivIcon {
            text-align: center;
            /* Horizontally center the text (icon) */
            line-height: 100px;
            /* Vertically center the text (icon) */
        }
    </style>
</head>

<body>

    <header-profile></header-profile>

    {% if pio.status == "P"%}
    <div class="progress" style="height:50px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">Placed</div>
    </div>

    {% elif pio.status == "R" %}
    <div class="progress" style="height:50px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Assigned</div>
    </div>

    {% elif pio.status == "S" %}
    <div class="progress" style="height:50px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Shipped</div>
    </div>

    {% elif pio.status == "D" %}
    <div class="progress" style="height:50px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Delivered</div>
    </div>
    {% endif %}

    {% if pio.status == "R" %}

    <div class="row d-flex justify-content-center">
        <div class="bgwhite text-center"
            style="border:dashed 1px black; border-radius: 10px;width:95%;height:410px;margin-top:15px">
            <div id="map" style="height: 100%;border-radius: 10px;"></div>
        </div>
    </div>
    {% endif %}

    {% if pio.status == "S" %}
    <div class="row d-flex justify-content-center">
        <div class="bgwhite text-center" style="border:dashed 1px black; border-radius: 10px;width:95%;height:350px">
            <div class="h3" style="margin-top:100px">
                <span class="font-weight-bold m-2">Last Tracked On:</span>
                <span class="text-muted m-2">{{pio.last_tracked_on}}</span><br>

                <span class="font-weight-bold m-2">Last Tracked At:</span>
                <span class="text-muted m-2">{{pio.last_tracked_by.existing_location_addr}}</span><br>

                <span class="font-weight-bold m-2">To be delivered by:</span>
                <span class="text-muted m-2">{{pio.last_tracked_by.user.first_name}}
                    {{pio.last_tracked_by.user.last_name}}</span><br>

                <span class="font-weight-bold m-2">Phone Number:</span>
                <span class="text-muted m-2">{{pio.last_tracked_by.phone_number}}</span><br>

                <span class="font-weight-bold m-2">Expected On:</span>
                <span class="text-muted m-2">{{pio.expected_delivery_date}}</span>
            </div>
        </div>
    </div>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="{% static 'js/leaflet-routing-machine.js'%}"></script>

    <script src="{% static 'js/header_profile.js'%}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var map = L.map('map').setView(["{{pio.provider_point.x}}", "{{pio.provider_point.y}}"], 12)

            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a', 'b', 'c']
            }).addTo(map);

            var i = L.divIcon({
                html: '<i class="fa fa-map-marker fa-5x" style="color: blue;"></i>',
                //iconSize: [100, 100],
                className: 'myDivIcon'
            })
            i.options.iconSize = [100, 100];

            
            var i1 = L.divIcon({
                html: '<i class="fa fa-user fa-3x" style="color: blue;"></i>',
                //iconSize: [100, 100],
                className: 'myDivIcon'
            })
            i1.options.iconSize = [100, 100];

            var marker = L.marker([0, 0], { icon: i }).addTo(map).bindPopup("{{pio.provider_addr}}");
            marker.setLatLng(["{{pio.provider_point.x}}", "{{pio.provider_point.y}}"]);
            marker.openPopup()

            var marker1 = L.marker([0, 0], { icon: i1 }).addTo(map).bindPopup("{{pio.order.delivery_addr}}");
            marker1.setLatLng(["{{pio.order.delivery_point.x}}", "{{pio.order.delivery_point.y}}"]);


            L.Routing.control({
                waypoints: [
                    L.latLng("{{pio.provider_point.x}}", "{{pio.provider_point.y}}"),
                    L.latLng("{{pio.order.delivery_point.x}}", "{{pio.order.delivery_point.y}}")
                ],
                createMarker: function () { return null; }
            }).addTo(map);
        });

    </script>
</body>

</html>