{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready To Ship Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            display: inline-block;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        .d-block {
            height: 20vw;
            object-fit: cover;
        }

        .product-name{
            display: inline-block;
            width: 180px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    {% if not user.is_authenticated%}
    <header-bar></header-bar>
    {% else %}
    <authenticated-header></authenticated-header>
    {% endif %}

    <ul class="nav nav-pills nav-fill bg-light">
        <li class="nav-item">
            <a class="nav-link" href="home">Placed Pending Orders</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="ready">Ready to Ship Orders</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="notreturned">Not Yet Returned</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="cancelled">Cancelled Orders</a>
        </li>

        
    </ul>


    <div class="d-flex justify-content-start ml-3 mt-3">
        {% for i in list%}
        <div class="card mr-4" style="width: 430px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{i.last_tracked_by.profile_pic.url}}" class="card-img"
                        style="height:100%;width:100%;object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{i.last_tracked_by.user.first_name}}
                            {{i.last_tracked_by.user.last_name}}</h5>
                        <p class="card-text text-muted">{{i.last_tracked_by.phone_number}}</p>
                        <p class="card-text"><span class="font-weight-bold">Current Location:
                            </span><span class="product-name">{{i.last_tracked_by.existing_location_addr}}</span></p>
                        <p class="card-text"><span class="font-weight-bold">Product Name: </span><span class="product-name">{{i.product.name}}</span></p>
                        <div class="sticky-bottom float-left mr-1 mb-1">
                            <form action="track" method="post">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{i.id}}">
                                <button type="submit" class="btn btn-success mr-2 mb-2">
                                    <i class="fa fa-chevron-right"></i>
                                    Track</button>
                            </form>
                        </div>
                        <div class="sticky-bottom float-right mr-1 mb-1">
                            <form action="ship" method="post">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{i.id}}">
                                <button type="submit" class="btn btn-primary mr-2 mb-2">
                                    <i class="fa fa-check"></i>
                                    Shipped</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="d-flex justify-content-left ml-3 mt-3">
        {%endif%}
        {%endfor%}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/header_authenticated.js'%}"></script>
</body>

</html>