{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Summary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <style>
        div.dataTables_filter,
        div.dataTables_length {
            margin: 10px;
        }
    </style>
</head>

<body>
    {% if not user.is_authenticated%}
    <header-bar></header-bar>
    {% else %}
    <authenticated-header></authenticated-header>
    {% endif %}

    <header-profile></header-profile>

    <ul class="nav nav-pills nav-fill bg-light">
        <li class="nav-item">
            <a class="nav-link" href="myprofile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="removebranch">Branch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="viewsummary">View Summary</a>
        </li>
    </ul>


    <table id="myTable" class="table table-striped table-bordered">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Delivered Orders</th>
                <th scope="col">Cancelled Orders</th>
                <th scope="col">Not Yet Returned</th>
            </tr>
        </thead>
        <tbody>
            {% for i in array %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td class="text-center">{{i.D}}</td>
                <td class="text-center">{{i.C}}</td>
                <td class="text-center">{{i.N}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="float-right">
        <form class="mr-2 mt-2 mb-2">
            <button formaction="analyse" class="btn btn-primary" style="width: 190px; height: 40px"><i
                    class="fa fa-bar-chart"></i>Analyse</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/header_authenticated.js'%}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
</body>

</html>