{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Delivery Personnel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .card {
            display: inline-block;
        }

        .d-block {
            height: 20vw;
            object-fit: cover;
        }

        a:hover {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    {% if not user.is_authenticated%}
    <header-bar></header-bar>
    {% else %}
    <authenticated-header></authenticated-header>
    {% endif %}

    <ul class="nav nav-pills nav-fill bg-light">
        <li class="nav-item">
            <a class="nav-link active" href="home">Manage Delivery Personnel</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="viewcomment">View Comments</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="viewsummary">View Summary</a>
        </li>

    </ul>
    
    <div class="d-flex justify-content-start ml-3 mt-3">
        {% for i in user.courier.deliverypersonnel_set.all|dictsort:"user.first_name"%}
        <div class="card mr-3 border-dark" style="width: 250px;height:330px">
            <img class="card-img-top" id='image' style="width: 100%;height:15vw;object-fit: cover;" src={{i.profile_pic.url}}>

            <div class="card-body">
                <h5 class="card-title">{{i.user.first_name}} {{i.user.last_name}}</h5>
            </div>
            <div class="sticky-bottom float-right mr-1 mb-1">
                <form enctype="multipart/form-data" action="removedpsubmit" method="post">
                    {% csrf_token %}
                    <input name="user_id" type="hidden" value={{i.user.id}}>
                    <button type="submit" class="btn btn-danger ml-1">Delete</button>
                </form>
            </div>

            <div class="sticky-bottom float-left mr-1 mb-1">
                <form enctype="multipart/form-data" action="viewdp" method="post">
                    {% csrf_token %}
                    <input name="id" type="hidden" value={{i.id}}>
                    <button type="submit" class="btn btn-primary ml-1">View Profile</button>
                </form>
            </div>
        </div>
        {% if forloop.counter|divisibleby:5 %}
    </div>
    <div class="d-flex justify-content-left ml-3 mt-3">
        {%endif%}

        {% endfor%}
        <a href="adddp">
            <div class="d-flex justify-content-start">
                <div class="card mr-3 bg-light" style="width: 250px;height:330px;border: 5px dashed black">
                    <div class="card-title">
                        <p class="card-text text-center" style="font-size: 200px;margin-top:0px;">+</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js'%}"></script>
    <script src="{% static 'js/header_authenticated.js'%}"></script>
</body>

</html>